.App {
  text-align: center;
}
.mapboxgl-marker        { position: absolute; }
.mapboxgl-marker > div  { pointer-events: auto; }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dialogflow Messenger Styles */
df-messenger {
  --df-messenger-button-titlebar-color: #003366;
  --df-messenger-button-titlebar-font-color: white;
  --df-messenger-chat-background-color: #f4f4f4;
  --df-messenger-font-color: black;
  --df-messenger-user-message: #e0e0e0;
  --df-messenger-bot-message: #ffffff;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
